# Server
function server() {
    local host=`hostname`
    local port="${1:-8888}"
    (sleep 1 && open "http://${host}:${port}/")&
    python -m SimpleHTTPServer "$port"
}

alias be="bundle exec"

alias p4merge='/Applications/p4merge.app/Contents/Resources/launchp4merge'

xc () {
    xcode_proj=`find . -name "*.xc*" -d 1 | sort -r | head -1`
    if [[ `echo -n $xcode_proj | wc -m` = 0 ]]
    then
        echo "No xcworkspace/xcodeproj file found in the current directory."
    else
        echo "Found $xcode_proj"
        open "$xcode_proj"
    fi
}
