[user]
  user.name = "Martin Tschischauskas"
  user.email = martin.tschischauskas@googlemail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
[merge]
  tool = opendiff
[core]
	excludesfile = /Users/martin/.gitignore
[apply]
	whitespace = nowarn
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true